:root {
    --shade-01: #04060a;
    --shade-02: #16171A;
    --shade-03: #d4b03a;
    --shade-04: #de79f1;
    --shade-04-rgba: rgba(222, 121, 241, 0.45);
    --shade-05: #ffffff;
    --shade-06: #626262;
    --shade-07: #4343437a;
    --shade-08: #d8d8d8;
    --font-poppins: 'Poppins', sans-serif;
    --font-orbitron: 'Orbitron', sans-serif;
}

body {
    background-color: var(--shade-02);
}

h1 {
    font-size: 4.392vw;
}

h2 {
    font-size: 3.514vw;
}

h3 {
    font-size: 2.928vw;
}

h4 {
    font-size: 2.343vw;
}

h5 {
    font-size: 1.757vw;
}

h6 {
    font-size: 1.464vw;
}

p,
.btn,
button,
.accordion-button,
input,
textarea,
.nav-item {
    font-size: 1.318vw;
}

.subP {
    font-size: 1.171vw;
}

.imgPixelsResponsive {
    width: 25.988vw;
    height: 9.956vw;
}

.menu.navbar {
    background-color: var(--shade-02);
    font-family: var(--font-poppins);
}

.links {
    gap: 2.196vw;
    margin: 0.5% 8% 0.5% 5%;

}

.links.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--shade-04);
    border-bottom: 2px var(--shade-04) solid;
}

.btn-outline-warning {
    color: var(--shade-03);
    border: 2px var(--shade-03) solid;
    border-radius: 80px;
}

.btn-outline-warning:hover {
    background-color: var(--shade-03);
    border: 2px var(--shade-03) solid;
    color: var(--shade-05);
}

.header {
    color: var(--shade-05);
    background: var(--shade-02) url(/images/worldMapVectors.svg) center center/cover no-repeat;
    font-family: var(--font-orbitron);
    height: 69.546vw;
}

.btn-outline-light {
    color: var(--shade-05);
    border: 2px var(--shade-05) solid;
    border-radius: 80px;
    font-family: var(--font-poppins);
}

.btn-outline-light:hover {
    background-color: var(--shade-05);
    border: 2px var(--shade-05) solid;
    color: var(--shade-04);
}

.phrase {
    font-family: var(--font-poppins);
    margin: 10% 0 8% 0;
}

.phrase img {
    width: 3.075vw;
    height: 3.075vw;
}

.textAboutPampa {
    gap: 0.732vw;
}

.textAboutPampa .aboutBackground {
    background: var(--shade-02) url(/images/largeMagentaPixels.svg) center center/contain no-repeat;
    margin-bottom: 2%;
}

.textAboutPampa h4 {
    font-family: var(--font-orbitron);
}

.textAboutPampa p {
    font-family: var(--font-poppins);
}

.textAboutPampa .about {
    background: var(--shade-07);
    backdrop-filter: blur(10px);
    padding-top: 10%;
    gap: 5.124vw;
    border-radius: 18px;
}

.textAboutPampa .imgAndText .image,
.text {
    width: 100%;
}

.teamFede {
    margin-top: 8%;
    font-family: var(--font-poppins);
    padding: 5%;
}

.teamFede .organizers h5 {
    font-family: var(--font-orbitron);
    color: var(--shade-04);
}

.teamFede .organizers {
    gap: 1.684vw;
}

.teamFede .organizers hr {
    color: var(--shade-03);
    border: 3px var(--shade-03) solid;
}

.participants {
    font-family: var(--font-poppins);
}

.participants h3 {
    font-family: var(--font-orbitron);
    color: var(--shade-03);
}

.participants .logo {
    width: 7.321vw;
    height: 7.321vw;
}

.moreAboutPampa {
    gap: 3.660vw;
}

.moreAboutPampa h4 {
    font-family: var(--font-orbitron);
}

.moreAboutPampa .logo {
    width: 25.622vw;
    height: 25.622vw;
    border-radius: 50%;
    border: 1px var(--shade-05) solid;
}

.moreAboutPampa .logo img {
    width: 12.445vw;
    height: 15.300vw;
}

.galery {
    margin-top: 10%;
    gap: 0.732vw;
}

.galery h1 {
    font-size: 7.321vw;
    font-family: var(--font-orbitron);
}

.galery hr {
    color: var(--shade-06);
    border: 1px var(--shade-06) solid;
}

.galery .picture1 {
    background: var(--shade-04);
}

.galery .picture1 img {
    mix-blend-mode: darken;
    filter: hue-rotate(70deg) saturate(200%) brightness(50%) sepia(40%);
}

.collaborators {
    margin-top: 10%;
    font-family: var(--font-orbitron);
    gap: 2.928vw;
    height: 47.584vw;
}

.collaborators p {
    font-family: var(--font-poppins);
}

.collaborators .logos .circle {
    width: 14.141vw;
    height: 14.141vw;
    border-radius: 50%;
    border: 1px var(--shade-05) solid;
}

.collaborators .logos .circle .logo {
    width: 12vw;
    height: 15vw;
}

.collaborators .logosContainer {
    gap: 16.105vw;
}

.faq .accordion-item {
    margin-top: 3%;
    border-radius: 8px;
    background-color: var(--shade-03);
    border: 1px var(--shade-03) solid;
}

.faq .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23D4B03A'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.faq button {
    background-color: var(--shade-02);
    border: 1px var(--shade-03) solid;
    padding: 1%;
}

.faq .accordion-button:not(.collapsed) {
    background-color: var(--shade-02);
}

.contact {
    background: linear-gradient(0.25turn, var(--shade-01), var(--shade-04-rgba), var(--shade-01)), url(/images/cybersecurity.png) center center/cover no-repeat;
    padding: 10%;
    font-family: var(--font-poppins);
    filter: saturate(120%);
}

.contact h4 {
    font-family: var(--font-orbitron);
}

.contact .form {
    background: var(--shade-07);
    backdrop-filter: blur(10px);
    padding: 5%;
    gap: 2.928vw;
    border-radius: 15px;
    border: 1px var(--shade-05) solid;
    width: 50%;
}

.contact .form form {
    gap: 2.928vw;
}

.contact .form input,
textarea {
    background: transparent;
    border: none;
    border-bottom: 1px white solid;
    resize: none;
    color: var(--shade-05);
}

.contact .form input::placeholder,
textarea::placeholder {
    color: var(--shade-05);
}

.btn-outline-secondary {
    color: var(--shade-04);
    border: 1px var(--shade-04) solid;
    border-radius: 80px;
    font-family: var(--font-poppins);
    background-color: var(--shade-05);
}

.btn-outline-secondary:hover {
    background: transparent;
    border: 1px var(--shade-05) solid;
    color: var(--shade-05);
}

.footer {
    font-family: var(--font-poppins);
}

.logoPampa {
    width: 9.981vw;
}

.footer .logoPhone {
    width: 1.245vw;
    height: 1.537vw;
}

.footer .logoInstagram {
    width: 1.391vw;
    height: 1.464vw;
}

.footer .logoTrex {
    width: 6.515vw;
    height: 4.466vw;
}

@media screen and (max-width:991px) {

    .collapse,
    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 1%;
    }

    .links.navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        border: none;
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 2.928vh;
    }

    h2 {
        font-size: 2.343vh;
    }

    h3 {
        font-size: 1.757vh;
    }

    h4 {
        font-size: 1.464vh;
    }

    h5 {
        font-size: 1.318vh;
    }

    h6 {
        font-size: 1.171vh;
    }

    p,
    .btn,
    button,
    .accordion-button,
    input,
    textarea,
    .nav-item {
        font-size: 1.025vh;
    }

    .subP {
        font-size: 0.732vh;
    }

    .links {
        gap: 2.196vh;
    }

    .header {
        height: 69.546vh;
    }

    .phrase img {
        width: 3.075vh;
        height: 3.075vh;
    }

    .textAboutPampa .imgAndText {
        display: flex;
        flex-direction: column;
    }

    .participants .participantsRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .participants .logo {
        width: 6.321vh;
        height: 6.321vh;
    }

    .galery h1 {
        font-size: 4.832vh;
    }

    .collaborators {
        min-height: 35.584vh;
    }

    .collaborators .logosContainer {
        gap: 16.105vh;
    }

    .contact .form {
        gap: 2.928vh;
        width: 75%;
    }

    .contact .form form {
        gap: 2.928vh;
    }

    .footer .logoPampa {
        width: 7.981vh;
    }

    .footer .logoPhone {
        width: 1.245vh;
        height: 1.537vh;
    }

    .footer .logoInstagram {
        width: 1.391vh;
        height: 1.464vh;
    }

    .footer .logoTrex {
        width: 6vh;
        height: 4vh;
    }
}